@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    transform: rotate(xx);
    opacity: 0;
  }
}

.fade-atm {
  animation: fade 3s forwards 0s linear;
}

.my-custom-scrollbar {
  position: relative;
  height: 380px;
  overflow: auto;
  /* overflow-x: hidden; */
}
.table-wrapper-scroll-y {
  display: block;
}
